.. include:: ../globals.rst.inc

.. raw:: html

    <!-- The Function that handles the action switching-->

    <script type="text/javascript">

        function is_valid_datalist_value(idDataList, inputValue) {
            var option = document.querySelector("#" + idDataList + " option[value='" + inputValue + "']");

            if (option != null) {
                return option.value.length > 0;
            }

            return false;
        }

       function OnSubmitForm()
        {
            if (is_valid_datalist_value('packages', document.getElementById('package').value)) {
                //alert("TEST: Valid");
                document.packages.action = "autogen-sss-package-versions-" + document.packages.package_name.value + ".html"
                document.packages.package_name.value = "";
            } else {
                alert("Package does not exist.  Use the autocomplete to find the package.");
            }
       }

    </script>



Package Search
==============


Please enter the name of the package you wish to search for.  As you type a
filtered list will be displayed.  This search will find packages that have been
used in any of the environments.

.. raw:: html

    <form name="packages" action="" method="get">
      <input list="packages" name="package_name" id="package">
      <datalist id="packages">
        {% for package in package_is_used_in_sss %}
          <option value="{{ package }}">
        {% endfor %}
      </datalist>
        <button onclick="OnSubmitForm()">Submit</button>
    </form>
    <p></p>

Alternatively browse all packages using the section below.


.. note:: You can view all the available environments and their contents
          from the `environment browser <../environments_available.html>`_.


All Packages Used
-----------------


There area  total of **{{ package_is_used_in_sss|length }} packages**
used in all environments.


.. hlist::
   :columns: 3

{% for package in package_is_used_in_sss %}
   * `{{ package }} <autogen-sss-package-versions-{{ package }}.html>`_
{% endfor %}

